## *Section 1:*
#### Question 1:

In [2]:
#Question 1:
def base_10(x):
    hex_value = hex(x)
    bin_value = bin(x)
    oct_value = oct(x)
    return print('Hexadecimal value is: {}, Binary value is: {}, Octal value is: {}'.format(hex_value, bin_value, oct_value))

## *Section 2:*
#### Question 1:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

In [4]:
cast = pd.read_csv('cast.csv')
cast.head()

NameError: name 'pd' is not defined

In [21]:
cast.groupby('title').size()['Hamlet']

299

#### Question 2:

In [22]:
earliest_to_recent = cast[cast['title'].eq('Treasure Island')].filter(items=['title', 'year']).sort_values(by='year')
earliest_to_recent

                   title  year
1312766  Treasure Island  1918
3280557  Treasure Island  1918
3046750  Treasure Island  1918
1167783  Treasure Island  1918
1195421  Treasure Island  1918
...                  ...   ...
1663860  Treasure Island  1999
1731182  Treasure Island  1999
1813707  Treasure Island  1999
2710458  Treasure Island  1999
815338   Treasure Island  1999

[187 rows x 2 columns]

#### Question 3:

In [1]:
roles_hamlet = cast[cast['title'].eq('Hamlet')]
roles_hamlet.query("year=='1921'")

NameError: name 'cast' is not defined