## *Section 1:*
#### Question 1:

In [15]:
#Question 1:
def base_10(x):
    hex_value = hex(x)
    bin_value = bin(x)
    oct_value = oct(x)
    return print('Hexadecimal value is: {}, Binary value is: {}, Octal value is: {}'.format(hex_value, bin_value, oct_value))

## *Section 2:*
#### Question 1:

In [18]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
cast = pd.read_csv('cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [21]:
cast.groupby('title').size()['Hamlet']

299

#### Question 2:

In [22]:
earliest_to_recent = cast[cast['title'].eq('Treasure Island')].filter(items=['title', 'year']).sort_values(by='year')
earliest_to_recent

                   title  year
1312766  Treasure Island  1918
3280557  Treasure Island  1918
3046750  Treasure Island  1918
1167783  Treasure Island  1918
1195421  Treasure Island  1918
...                  ...   ...
1663860  Treasure Island  1999
1731182  Treasure Island  1999
1813707  Treasure Island  1999
2710458  Treasure Island  1999
815338   Treasure Island  1999

[187 rows x 2 columns]

#### Question 3: